.tools{
  padding: 0 100px;
}

.table{
  width: 90%;
  border-spacing: 0;
  &__row{
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    th{
      color: #B3B3B3;
      text-transform: uppercase;
      padding-top: 20px;
      padding-bottom: 20px;
      border-bottom-width: 0;
    }
  }
  &__cell{
    text-align: left;
    font-size: 14px;
    border-bottom: 1px solid rgba(0, 0 , 0, 0.1);
    height: 80px;
    padding-left: 10px;
    &:first-of-type{
      text-align: center;
      padding-right: 150px;
    }
  }
}