.tools{
  padding: 0 100px;
}

.table{
  width: 90%;
  margin: 0 auto 20px;
  border-spacing: 0;
  &__row{
    font-size: 12px !important;
    font-weight: 400;
    font-style: normal;
    th{
      color: #B3B3B3;
      text-transform: uppercase;
      padding-top: 20px;
      padding-bottom: 20px;
      border-bottom-width: 0;
    }
  }
  &__cell{
    position: relative;
    text-align: left;
    font-size: 14px;
    border-bottom: 1px solid rgba(0, 0 , 0, 0.1);
    height: 80px;
    padding-left: 10px;
    &_th{
      font-size: 10px;
    }
    input{
      display: none;
      &:checked{
        &+label{
          background-color: #DE001B;
          &::before, &::after{
            content: '';
            position: absolute;
            background-color: #fff;
          }
          &::before{
            top: 10px;
            left: 4px;
            width: 5px;
            height: 1px;
            transform: rotate(45deg);
          }
          &::after{
            top: 8px;
            left: 7px;
            width: 8px;
            height: 1px;
            transform: rotate(-45deg);
          }
        }
      }
    }
    &_checked{
      position: relative;
      display: block;
      width: 20px;
      height: 20px;
      border: 1px solid #DE001B;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
    }
    .cmsTitle{
      display: flex;
      align-items: center;
    }
    .sponsor{
      position: absolute;
      left: -25px;
      width: 10px;
    }
    .image{
      width: 27px;
      margin-right: 15px;
    }
    .text{
      text-align: left;
    }
    p{
      width: 100px;
      text-align: left;
    }
    &:first-of-type{
      display: flex;
      align-items: center;
      text-align: center;
      padding-right: 150px;
    }
    &:nth-of-type(2){
      width: 140px;
    }
    &:nth-of-type(4){
      width: 200px;
    }
    &_sortElement{
      vertical-align: middle;
      &:hover{
        .triangle{
          display: inline-block;
        }
      }
    }
    .triangle{
      margin-left: 8px;
      display: none;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 5px 0 5px;
      border-color: #F2C3C9 transparent transparent transparent;
      &_rotate{
        transform: rotate(180deg);
      }
    }
  }
}