.sidebar{
  padding: 20px 30px;
  .activeLink, a:hover {
    color: #EC2138;
    border-bottom: 1px solid;
  }
}

.logo{
  display: flex;
  height: 50px;
  align-items: center;
  margin-bottom: 60px;
  &__redText{
    background-color: #E8122A;
    color: #FFF;
    font-size: 25px;
    height: 100%;
    padding: 10px;
    margin-right: 10px;
  }
  &__magazine{
    font-size: 19px;
    color: #000;
    font-weight: 900;
    margin-bottom: 5px;
  }
  &__aboutDigital{
    font-size: 8px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.5px;
  }
}

.navigation{
  padding-top: 20px;
  padding-bottom: 20px;
  &__item{
    position: relative;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
    font-weight: 600;
    &:not(:last-of-type){
      margin-bottom: 20px;
    }
    a{
      &:hover{
        &::before{
          content: '';
          position: absolute;
          width: 100%;
          height: 1px;
          background-color: #EC2138;
          bottom: -5px;
          left: 0;
        }
      }
    }

  }
}

.services{
  padding-top: 20px;
  a{
    position: relative;
    &::before{
      position: absolute;
      top: 0;
      left: -30px;
      content: '';
      width: 14px;
      height: 14px;
      background-color: transparent;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }
  &__item{
    //position: relative;
    font-size: 14px;
    font-weight: 400;
    margin-left: 30px;
    &:not(:last-of-type){
      margin-bottom: 20px;
    }

    &:first-child{
      span{
        display: none;
        position: absolute;
        min-width: 20px;
        min-height: 20px;
        //display: none;
        right: 0;
        bottom: 0;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        background-color: #CB192D;
        text-align: center;
        color: #FFF;
        padding: 2px;
      }

    }


    &:first-child{
      a::before{
        background-image: url('https://cmsmagazine.ru/images/main_menu/star.svg');
      }
      &:hover {
        a{
          &::before{
            background-image: url('https://cmsmagazine.ru/images/main_menu/star_red.svg');
          }
        }
      }
    }
    &:nth-of-type(2){
      a::before {
        background-image: url('https://cmsmagazine.ru/images/main_menu/search.svg');
      }
      &:hover {
        a{
          &::before{
            background-image: url('https://cmsmagazine.ru/images/main_menu/search_red.svg');
          }
        }
      }
    }
    &:nth-of-type(3){
      a::before {
        background-image: url('https://cmsmagazine.ru/images/main_menu/enter.svg');
      }
      &:hover {
        a{
          &::before{
            background-image: url('https://cmsmagazine.ru/images/main_menu/enter_red.svg');
          }
        }
      }
    }
  }
  .favoriteLink{
    a.activeLink {
      &::before {
        background-image: url('https://cmsmagazine.ru/images/main_menu/star_red.svg');
      }
    }
  }
}