.wrapper{
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
}

.main{
  display: flex;
  background-color: #F5F5F5;
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
}

.sidebar{
  min-width: 240px;
  background-color: #F5F5F5;
}

.content{
  min-height: 500px;
  align-self: flex-start;
  width: 100%;
  background-color: white;
  margin-bottom: 100px;
}