*{
  box-sizing: border-box;
}

html {
  height: 100%;
}

body{
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #F5F5F5;
}

a{
  position: relative;
  color: #000;
  text-decoration: none;
  text-align: left;
}

p{
  margin: 0;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

hr{
  height: 1px;
  background: #000;
  opacity: .05;
  border: none;
}

img{
  max-width: 100%;
}

.btn{
  padding: 10px 10px;
  background-color: rgba(0, 0, 0, 0.05);
  border: none;
  //width: 100%;
  cursor: pointer;
  &-arrow{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
    margin-right: 10px;
    &:nth-of-type(3){
      margin-left: 5px;
    }
  }
  &:focus{
    outline: none;
  }
}

.dBlock{
  display: block !important;
}